main {
    height: 100%;
    width: 100%;
    background-color: white;

    .selectBoxes {
        display: flex;
        gap: 2rem;
        padding-left: 1rem;

        mat-form-field {
            background: #dedede;
            padding: 10px;
            border-radius: 5px;
        }

        button {
            border-radius: 5px;
            background: #dedede;
            cursor: pointer;

        }
    }

    .visionContainer {
        padding: 1rem;
        display: flex;
        gap: 1rem;
        flex-direction: row;
        width: 50vw;

        canvas{
            border: 1px solid black;
            padding: 0.5rem;
        }

        .tableContainer {

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            table {
                border-collapse: collapse;
                border: 1px solid black;
                table-layout: auto;

                tr {
                    display: block;
                    width: 100%;
                }

                td {
                    border: 1px solid black;
                    padding: 4px;
                }

                .summaryRow{
                    display: flex;
                    justify-content: flex-end;
                }
            }

        }
    }
}