<main>
    <div class="loading-screen-wrapper" *ngIf="isLoading">
        <div class="loading-screen-icon">
            Loading...
        </div>
    </div>
    <div class="selectBoxes">
        <mat-form-field>
            <span>Vehicle(s) number:</span>
            <select matNativeControl [(ngModel)]="selectedVehicleNumber">
                <option *ngFor="let number of vehicleNumbers" [value]="number">
                    {{number}}
                </option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <span>City(s) number:</span>
            <select matNativeControl [(ngModel)]="selectedCityNumber">
                <option *ngFor="let number of citiesNumber" [value]="number">
                    {{number}}
                </option>
            </select>
        </mat-form-field>
        <button (click)="makeAction()">Apply</button>
    </div>
    <div class="visionContainer" [hidden]="">
        <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend"
            [plugins]="chartPlugins" [type]="chartType"></canvas>

        <div class="tableContainer">
            <table>
                <caption>Before algorithm run</caption>
                <tr *ngFor="let vehicle of beforeVehicles">
                    <td style="width: 5%;">Vehicle[{{vehicle.routeNumber}}]</td>
                    <td *ngFor="let destination of vehicle.destinations">{{destination}}</td>
                    <td>Route cost:</td>
                    <td>{{objectFunction(vehicle.destinations)}}</td>
                </tr>
            </table>
            <table>
                <caption>After algorithm run</caption>
                <tr *ngFor="let vehicle of vehicles">
                    <td style="width: 5%;">Vehicle[{{vehicle.routeNumber}}]</td>
                    <td *ngFor="let destination of vehicle.destinations">{{destination}}</td>
                    <td>Route cost:</td>
                    <td>{{objectFunction(vehicle.destinations)}}</td>
                </tr>
            </table>
        </div>
    </div>
</main>