<main>
    <div class="selectBoxes">
        <mat-form-field>
            <span>Vehicle(s) number:</span>
            <select matNativeControl [(ngModel)]="selectedVehicleNumber">
                <option *ngFor="let number of vehicleNumbers" [value]="number">
                    {{number}}
                </option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <span>City(s) number:</span>
            <select matNativeControl [(ngModel)]="selectedCityNumber">
                <option *ngFor="let number of citiesNumber" [value]="number">
                    {{number}}
                </option>
            </select>
        </mat-form-field>
        <button (click)="makeActions()">Apply</button>
    </div>
    <div class="visionContainer">
        <app-chart *ngIf="isLoaded"></app-chart>
        <app-data-table *ngIf="isLoaded"></app-data-table>
    </div>
</main>